<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id='g_cloud_view' data-view="Number" data-title="2a. G-Cloud Framework" data-moreinfo="Active Users"></div>
    </li>
  </ul>
</div>

