<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="cumulative" data-view="Graph"  data-moreinfo="Total" data-title="Cumulative G-Cloud"></div>
    </li>
  </ul>
</div>